@import "@/styles/scss_globals.scss";

.card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap-xl;
    position: relative;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px){
    .card_container {
        gap: 2%;
    }
}

@media screen and (max-width: 500px) {
    .card_container {
        flex-direction: column;
        gap: 1%;
    }
}