@import "@/styles/scss_globals.scss";

.nav_wrapper{
    position: fixed;
    width: 100%;
    height: 75px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-s $padding-l;
    z-index: 10001;

    #logo_image{
        width: 100px;
        height: auto;
        padding: $padding-m;
    }

    ul{
        margin: 0;
        li{
            list-style: none;
            display: flex;
            gap: $gap-m;
            a{
                @include button_m;
                
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .nav_wrapper {
        #logo_image{
            width: 75px;
        }
        ul {
            li{
                a{
                    padding: $padding-m $padding-l;
                    font-size: $p-s;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .nav_wrapper {

        &>a {
            display: none;
        }
        ul{
            width: 100%;
            li{
                display: flex;
                justify-content: space-evenly;
    
            }
        }
    }
}