@import "@/styles/scss_globals.scss";

#sprite_layer{
    grid-area: sprites;
    position: relative;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3,140px) minmax(50px, 1fr) repeat(3,140px) ;
    gap: $gap-l;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 25px;
    transform: translateY(12px);
    justify-self: center;

    &>div[class*=" darken"]{
        &::before{
            filter: brightness(0.7) saturate(0.9) contrast(1.1);
        }
    }
}

