@import "@/styles/scss_globals.scss";

.flame{
    $dim: 100px;
    background-image: url("../../../../../assets/flame.png");
    background-size: calc($dim * 8) $dim;
    image-rendering: pixelated;
    width: $dim;
    height: $dim;

    position: absolute;
    bottom: 0px;
    left: 20px;
    filter: brightness(1.2);
    animation: flame 1.5s steps(8) infinite ;
    z-index: 1;
}

@keyframes flame {
    0% { background-position: 0 0; }
    100% { background-position: calc(-800px * 3) 0; }
}