@import "@/styles/scss_globals.scss";

.autoplay_button{
    background-color: transparent;
    font-family: $font-pixel;
    letter-spacing: 1.6px;

    grid-area: autoplay;
    align-self: flex-start;

    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(1);
    transition: $fade-transition;

    &:hover{
        cursor: pointer;
        filter: brightness(1);

    }
}