@import "@/styles/scss_globals.scss";

.redirect_button{
    @include button_l;
    @include green;
    font-size: $h1-l;

    &:hover{
        background-color: $hover;
        box-shadow: $inset-m $hover-shadow;
    }
}