@import "@/styles/scss_globals.scss";

.healthbar_wrapper{
    $hb_border_r: $border-s 0px;
    $pp: hsl(358, 100%, 35%);
    $hb_outline: solid 2px $bg;
    display: flex;
    position: relative;
    top: -35px;
    left: 0;
    width: 100%;
    height: 12px;

    &>div{
        height: 15px;
        padding: 5px;
    }

    // #maxhp{
    //     position: absolute;
    //     background-color: $red;
    // }
    #hp{
        background-color: $green;
        z-index: 3;
        border-radius: $hb_border_r;
    }
    #maxhp{
        background-color: $bg-light;
        outline: $hb_outline;
        width: 100%;
        position: absolute;
        border-radius: $hb_border_r;
    }
    #armour{
        outline: $hb_outline;
        position: absolute;
        left: 105%;
        background-color: $blue-shadow;
        border-radius: $hb_border_r;
    }
}