@import "@/styles/scss_globals.scss";

.healthbar_wrapper{
    $hb_border_r: $border-s 0px;
    $pp: hsl(358, 100%, 35%);
    $hb_outline: solid 2px $bg;
    display: flex;
    position: relative;
    top: -35px;
    left: 0;
    width: 100%;
    height: 20px;
    transform: translateX(-15px);

    &>div{
        width: 100%;
        height: 20px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #hp{
        background-color: $green;
        box-shadow: $green-shadow inset 0 -3px 0 0;
        z-index: 3;
        border-radius: $hb_border_r;
        transition: 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    #maxhp{
        background-color: $bg-light;
        box-shadow: $bg inset 0 -3px 0 0;

        outline: $hb_outline;
        width: 100%;
        position: absolute;
        border-radius: $hb_border_r;
    }
    #armour{
        width: 25px;
        outline: $hb_outline;
        position: absolute;
        left: 105%;
        background-color: $blue;
        box-shadow: $blue-shadow inset 0 -3px 0 0;
        border-radius: $hb_border_r;
    }
}