@import "@/styles/scss_globals.scss";

.card_wrapper{
    position: relative;
    min-width: 150px;
    width: 200px;
    height: 350px;
    background-color: $green;
    border-radius: $border-s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: $padding-l $padding-m;
    transition: $fade-transition;

    font-family: $font-pixel;
    letter-spacing: 1.6px;

    &:hover{
        scale: 1.02;
        cursor: pointer;
    }

    h2{
        font-weight: 300;
        z-index: 10;
        font-size: $h2-l;
    }

    .difficulty{
        padding: $padding-s $padding-l;
        font-size: $p-m;
    }

    .card_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .buff{
            font-size: $p-m;
            text-align: center;
        }

        .buff_desc{
            font-size: $p-s;
            opacity: 0.8;
        }
    }
}



@media screen and (max-width: 600px) {
    .card_wrapper {
        height: 20%;
        width: clamp(200px, 90%, 350px);
        h2{
            font-size: $h2-m;
        }
        .card_info{
            .buff{
                font-size: $p-s;
            }
            .buff_desc{
                font-size: $p-xs;
            }
        }
    }
}

.card_wrapper[content="History"]{
    background-color: $orange;
    .difficulty{
        background-color: $orange;
        border-bottom: 2px solid $orange-shadow;
    }
}

.card_wrapper[content="Maths"]{
    background-color: $blue;
    .difficulty{
        background-color: $blue;
        border-bottom: 2px solid $blue-shadow;
    }
}

.card_wrapper[content="English"]{
    background-color: $red;
    .difficulty{
        background-color: $red;
        border-bottom: 2px solid $red-shadow;
    }
}

.card_wrapper[content="Geography"]{
    background-color: $green;
    .difficulty{
        background-color: $green;
        border-bottom: 2px solid $green-shadow;
    }
}

.card_wrapper[content="Science"]{
    background-color: $purple;
    .difficulty{
        background-color: $purple;
        border-bottom: 2px solid $purple-shadow;
    }
}