@import "@/styles/scss_globals.scss";

.attack_button{
    @include button_s;
    @include orange;
    z-index: 9;
    font-family: $font !important;

    &:disabled{
        filter: brightness(0.8);
        &:hover{
            @include orange;
            cursor: default
        }
    }
}