@import "@/styles/scss_globals.scss";

.attack_button{
    @include button_s;
    @include orange;
    z-index: 9;
    font-family: $font !important;

    grid-area: attack;
    align-self:center;
    margin: 15px 25px;
    max-width: 250px;

    &:disabled{
        filter: brightness(0.8);
        &:hover{
            @include orange;
            cursor: default
        }
    }
}