@import "@/styles/scss_globals.scss";
@import "@/styles/clip_path.scss";

.attack_button{
    @include button_s;
    @include orange;
    @extend .pixel-corners;
    z-index: 9;
    letter-spacing: 1.6px;

    grid-area: attack;
    justify-self:center;
    align-self: center;
    max-width: 250px;

    &:disabled{
        filter: brightness(0.8);
        &:hover{
            @include orange;
            cursor: default
        }
    }
}

@media screen and (max-width: 500px){
    .attack_button{
        font-size: $p-m;
    }
}