@import "@/styles/scss_globals.scss";

.quiz_display_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $bg;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        margin-bottom: $gap-xs;
        font-size: $h2-xl;
        font-weight: 300;
    }

    h3{
        margin-bottom: $gap-xl;
        font-size: $h2-m;
        font-weight: 300;
        text-align: center;
    }
    
    .answers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $gap-xl;
        transition: 0.5s ease;

        button{
            @include orange;
            min-width: 200px;
            min-height: 125px;
            font-size: $p-l;
            font-family: auto;
            padding: $padding-l;
            border-radius: $border-s;
            transition: $fade-transition;

            &:hover{
                @include hover;
                color: $bg;
                cursor: pointer;
            }
        }

        .correct {
            @include correct;
            &:hover{
                @include correct;
            }
        }
        
        .incorrect {
            @include incorrect;
            &:hover{
                @include incorrect;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .quiz_display_wrapper {
        box-sizing: border-box;
        padding: $gap-xl;
        .answers {
            gap: $gap-m;
            box-sizing: border-box;

            button {
                width: 100%;
                font-size: $p-m;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .quiz_display_wrapper {
        h2{
            font-size: $h2-l;
        }
        h3{
            font-size: $h2-s;
        }
        .answers {
            display: flex;
            flex-direction: column;

            button {
                height: 100px;
                min-height: auto;
                padding: $padding-m;
            }
        }
    }
}