@import "@/styles/scss_globals.scss";

.quiz_display_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        margin-bottom: $gap-xs;
        font-size: $h2-xl;
        
    }

    h3{
        margin: 0 25px $gap-xl 25px;
        margin-bottom: $gap-xl;
        font-size: $h2-m;
        text-align: center;

    }
    
    .answers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $gap-xl;
        transition: 0.5s ease;

        a{
            @include orange;
            min-width: 150px;
            min-height: 100px;
            font-size: $p-l;
            text-align: center;

            
            padding: $padding-s $padding-l ;
            border-radius: $border-s;
            transition: $fade-transition;

            display: flex;
            justify-content: center;
            align-items: center;

            &:hover{
                @include hover;
                color: $bg;
                cursor: pointer;
            }
        }

        .correct {
            @include correct;
            &:hover{
                @include correct;
            }
        }
        
        .incorrect {
            @include incorrect;
            &:hover{
                @include incorrect;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .quiz_display_wrapper {
        box-sizing: border-box;
        padding: $gap-xl;

        .answers {
            gap: $gap-m;
            box-sizing: border-box;

            a {
                width: 100%;
                font-size: $p-m;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .quiz_display_wrapper {
        height: 100%;
        padding: $gap-xl 0;
        h2{
            font-size: $h2-l;
        }
        h3{
            font-size: $h3-m;
        }
        .answers {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            

            a {
                max-height: 150px;
                min-height: 75px;
                width: 100%;
                padding: $padding-s ;
                font-size: $p-s;
            }
        }
    }
}