@import "@/styles/scss_globals.scss";

.card_wrapper{
    position: relative;
    min-width: 150px;
    width: 200px;
    height: 350px;
    background-color: $green;
    border-radius: $border-s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: $padding-l $padding-m;
    transition: $fade-transition;

    &:hover{
        scale: 1.02;
        cursor: pointer;
    }

    h2{
        font-weight: 300;
        z-index: 10;
    }

    .difficulty{
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: auto;
        padding: $padding-s $padding-l;
        border-radius: $border-s;
        transform: rotateZ(5deg);
    }

    .card_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .buff{
            font-size: $p-s;
            text-align: center;
        }

        .buff_desc{
            font-size: $p-xs;
            opacity: 0.8;
        }
    }
}

@media screen and (max-width: 800px){
    .card_wrapper {
        width: 25%;
        height: 50%;
    }
}

@media screen and (max-width: 500px) {
    .card_wrapper {
        height: 20%;
        width: clamp(180px, 300px, 500px);
    }
}

.card_wrapper[content="History"]{
    background-color: $orange;
    .difficulty{
        background-color: $orange;
        border-bottom: 2px solid $orange-shadow;
    }
}

.card_wrapper[content="Maths"]{
    background-color: $blue;
    .difficulty{
        background-color: $blue;
        border-bottom: 2px solid $blue-shadow;
    }
}

.card_wrapper[content="English"]{
    background-color: $red;
    .difficulty{
        background-color: $red;
        border-bottom: 2px solid $red-shadow;
    }
}

.card_wrapper[content="Geography"]{
    background-color: $green;
    .difficulty{
        background-color: $green;
        border-bottom: 2px solid $green-shadow;
    }
}

.card_wrapper[content="Science"]{
    background-color: $purple;
    .difficulty{
        background-color: $purple;
        border-bottom: 2px solid $purple-shadow;
    }
}