@import "@/styles/scss_globals.scss";

.settings_button {
    @include button_l;
    @include green;
    font-family: $font-pixel;

    &:hover{
        background-color: $hover;
        box-shadow: $inset-m $hover-shadow;
    }
}

.main_menu_wrapper{

    z-index: 1000;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $bg-translucent;
    backdrop-filter: blur(10);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;       
        .buttons{
            display: flex;
            justify-content: center;
            width: 100%;

            grid-column: span 2;

            a, #close_settings_button{
                @include button-m;
                @include orange;
                align-self: flex-end;
                margin: $gap-l;
                text-align: center;
                font-family: $font-pixel;
            
                &:hover{
                    cursor: pointer;
                    box-shadow: $inset-m $hover-shadow;
                }
            }
        }
    // }
}

@media screen and (max-width: 500px) {
    .main_menu_wrapper{

        div:not(.buttons){
            align-self: center;
            width: 50%;
            justify-content: space-between;
        }

        .buttons{
            justify-content: space-between;
            a, #close_settings_button{
                font-size: $p-m;
                margin: $gap-l $gap-l;
            }
        }
    }
}

.settings_icon{
    grid-area: settings;

    z-index: 50;
    background-color: transparent;
    border-radius: $border-s;
    display: flex;
    justify-content: center;
    align-items: center;
    
    filter: brightness(0.8);
    transition: $fade-transition;

    &:hover{
        cursor: pointer;
        filter: brightness(1);
    }
}