@import "@/styles/scss_globals.scss";

.settings_button {
    @include button_l;
    @include green;
    font-family: $font;

    &:hover{
        background-color: $hover;
        box-shadow: $inset-m $hover-shadow;
    }
}

.main_menu_wrapper{

    z-index: 1000;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $bg-translucent;
    backdrop-filter: blur(10);

    display: flex;
    justify-content: center;
    align-items: center;

    .settings{
        display: grid;
        grid-template-columns: repeat(2,minmax(150px,250px));
        align-items: flex-start;
        flex-direction: column;
        overflow: hidden;
        
        a, #close_settings_button{
            @include button-m;
            @include orange;
            align-self: flex-end;
            margin: $gap-l;
            text-align: center;
            font-family: $font;
        
            &:hover{
                cursor: pointer;
                box-shadow: $inset-m $hover-shadow;
            }
        }

        div{
            grid-column: span 2;
            align-self: center;
            justify-self: center;
        }
    }
}

.settings_icon{
    position: absolute;
    top: 0;
    left: 0;
    margin: $gap-l;
    z-index: 50;
    background-color: $bg;
    border-radius: $border-s;
    padding: $padding-m $padding-l;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        cursor: pointer;
    }
}