@import "@/styles/scss_globals.scss";

.power_move_wrapper {
    $border_r: 0px 0px $border-s $border-s;
    $outline: solid 2px $bg;

    height: 5px;
    width: calc(100% - 8px);
    position: absolute;

    background-color: $bg-light;

    border-radius: $border_r;

    outline: $outline;

    .charge{
        background-color: $blue;
        box-shadow: $blue-shadow inset 0 -2px 0 0;
        height: 100%;
        width: 100%;
        transition: width 0.2s ease-out;
    }
}

@keyframes glow {
    30%{
        background-color: $blue;
        box-shadow: $blue-shadow inset 0 -2px 0 0;
    }
    100%{
        background-color: $hover;
        box-shadow: $hover-shadow inset 0 -2px 0 0;
    }
}

#power_button{
    @include button_s;

    grid-area: power;
    justify-self: center;

    margin: 15px 25px;
    max-width: 250px;

    background-color: $red;
    box-shadow: $inset-s $red-shadow;
    outline: solid 1px $yellowwhite;
    color: $yellowwhite;
    font-size: $p-l;
    animation: oscillate 0.5s alternate infinite;

    &:disabled{
        display: none;
        filter: brightness(0.8);
        &:hover{
            @include orange;
            cursor: default
        }
    }
}

@keyframes oscillate {
    to{
        outline: solid 4px $yellowwhite;
    }
}

@media screen and (max-width: 500px){
    #power_button{
        font-size: $p-m;
    }
}