$minusone: -1;
$scale-s: 1.5;
$scale-m: 2;
$scale-l: 3;

$dim: calc(48px * 1.5);

$sprite-y-offset: -5%;
$playerSpriteW: 140px;
$playerDim: calc($playerSpriteW * $scale-m);
$playerSpriteH: calc($playerSpriteW * 3);

$player-w-idle: calc(1540px * $scale-l);
$player-w-attack: calc(840px * $scale-l);
$player-w-hit: calc(560px * $scale-l);
$player-w-death: calc(1260px * $scale-l);
$player-w-evade: calc(560px * $scale-l);

$enemySpriteW: 150px;
$enemyDim: calc($enemySpriteW * $scale-m);
$enemySpriteSheetW: calc(600px * $scale-l);
$enemySpriteSheetWd: calc(1200px * $scale-l);
$enemySpriteH: calc($enemySpriteW * $scale-l);

$fireworm-h: calc(90px * $scale-l);
$fireworm-offset-x: -90px;
$fireworm-offset-y: 90px;
$fireworm-w-idle: calc(810px * $scale-l);
$fireworm-w-attack: calc(1440px * $scale-l);
$fireworm-w-hit: calc(270px * $scale-l);
$fireworm-w-death: calc(720px * $scale-l);

$slime-h: calc(25px * $scale-l);
$slime-w: calc(24px * $scale-l);
$slime-offset-x: 14px;
$slime-offset-y: -10%;
$slime-w-idle: calc(128px * $scale-l);
$slime-w-attack: calc(160px * $scale-l);
$slime-w-hit: calc(128px * $scale-l);
$slime-w-death: calc(128px * $scale-l);
$death-w: calc($slime-w + 16px);

$sprout-h: calc(96px * $scale-l);
$sprout-w: calc(96px * $scale-l);
$sprout-offset-x: 75px;
$sprout-w-idle: calc(384px * $scale-l);
$sprout-w-attack: calc(576px * $scale-l);
$sprout-w-hit: calc(480px * $scale-l);
$sprout-w-death: calc(768px * $scale-l);