.game_main{
    margin-top: 75px;
    &>div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px){
    .game_main{
        margin-top: 0;
    }
}