@import "@/styles/scss_globals.scss";

.widget_wrapper {
    display: flex;
    align-items: center;

    grid-column: span 2;
    justify-self: center;

    &>*{
        font-size: $p-m;
        font-family: $font-pixel;
        letter-spacing: 1.6px;
        margin: $padding-m;
    }

    .checkbox {
        $dim: 25px;
        position: relative;
        width: $dim;
        height: $dim;
        background-color: $bg-translucent;
        border: 1px solid $orange-shadow;
        appearance: none;
        -webkit-appearance: none;
        border-radius: $border-s;

        &::before{
            content: "";
            width: $dim;
            height: $dim;
            color: red;
        }

        &:hover{
            cursor: pointer;
            background-color: $hover;
            box-shadow: $inset-xs $hover-shadow;
            border: 1px solid $hover;
        }

        &:checked {
            background-color: $orange;
            box-shadow: $inset-xs $orange-shadow;
            transform: scale(0.8);
        }

    }

    .volume_range {
        appearance: none;
        -webkit-appearance: none;
        background: transparent;
        cursor: pointer;
        width: 10rem;


        &::-webkit-slider-runnable-track, &::-moz-range-track {
            background: $orange-shadow;
            border-radius: $border-s;
            border: none;
            height: 0.5rem;
            transition: 0.2s ease-out;

        }

        &::-webkit-slider-thumb, &::-moz-range-thumb {
            height: 1rem;
            width: 0.5rem;
            background-color: $orange;
            outline: none;
            border: none;
            transition: 0.2s ease-out;

        }

        &:hover{

            &::-webkit-slider-runnable-track, &::-moz-range-track {
                background-color: $hover-shadow;
            }

            &::-webkit-slider-thumb, &::-moz-range-thumb {
                background-color: $hover;
            }
        }
    }
}

#damage_number_wrapper {
    display: flex;
    &>*{
        font-size: $p-m;
        margin: $padding-m;
    }
}