@import "@/styles/scss_globals.scss";

.attack_button{
    @include button_s;
    @include orange;
    z-index: 999;

    &:hover{
        @include hover;
        cursor: pointer;

        color: $bg;
    }
}