@import "@/styles/scss_globals.scss";

.attack_button{
    @include button_s;
    @include orange;
    z-index: 999;
    // padding: $padding-l $padding-l;
    // font-size: $p-m;
    
    // border-radius: $border-s;
    // transition: $fade-transition;

    &:hover{
        @include hover;
        cursor: pointer;

        color: $bg;
    }
}