@import "@/styles/scss_globals.scss";

.game_window{
    width: 1066px;
    height: 600px;
    background-image: url("../../../../public/bg_forest.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &>button{
        font-family: auto;
        position: absolute;
        bottom: 30px;
    }

    #sprite_layer{
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        $sprite-y-offset: 22%;
    }
}

.screen_shake {
    animation: shake 0.2s forwards;
}

@keyframes shake {
    0%{background-position: 50% 50%;}
    25%{background-position: calc(50% + 10px) 50%;}
    50%{background-position: calc(50% - 10px) 50%;}
    100%{background-position: 50% 50%;}
}

.quiz_window{
    width: 1066px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    animation: 1.5s ease fadeIn forwards;
}

.attack_button{
    @include button_s;
    @include orange;
    z-index: 999;

    &:disabled{
        filter: brightness(0.8);
        &:hover{
            @include orange;
            cursor: default
        }
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}