@import "@/styles/scss_globals.scss";

.game_window{

    width: 1066px;
    height: 600px;
    // background-image: url("../../../app/assets/background.png");
    background-image: url("../../../../public/bg_forest.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    &>button{
        font-family: auto;
        position: absolute;
        bottom: 30px;
    }

    #sprite_layer{
        position: relative;
        display: flex;
        justify-content: center;
        // height: 100%;
        width: 100%;
        $sprite-y-offset: 160%;

        .player{
            $width: 91px;
            $height: $width;
            width: $width;
            height: $width;
            display: flex;
            position: absolute;
    
            transform: translate(-100%, $sprite-y-offset);
    
            &>p{
                transform: translateY(-50%);
            }
    
            &::before{
                content: "";
                position: absolute;
                width: calc($width * 2);
                height: calc($width * 2);
                top: 0;
                left: 0;

                background-image: url("../../../app/assets/knight_idle_sheet.png");
                transform: translate(calc(calc($width / -2) - 10px), calc($width / -2));
                animation: idleAnim 0.5s steps(6) infinite;
            }
        }
    
        .enemy{
            @extend .player;
            $width: 91px;

    
            &::before{
                background-image: url("../../../app/assets/enemy_idle_sheet.png");
            }

            &:nth-child(2){
                transform: translate(100%, $sprite-y-offset);
            }

            @for $i from 3 through 10 {
                &:nth-child(#{$i}) {
                transform: translate(calc(calc(120% + calc(10% * calc(#{$i} - 3)))*  calc(#{$i} - 1)), $sprite-y-offset);
                }
            }

            &:nth-child(n+10) {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 800px) {

}

.quiz_window{
    width: 1066px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    animation: 1.5s ease fadeIn forwards;
}

.attack_button{
    @include button_s;
    @include orange;
    z-index: 999;

    &:disabled{
        filter: brightness(0.8);
        &:hover{
            @include orange;
            cursor: default
        }
    }
}

.playerAttackAnim{
    @extend .player;
    &::before{
        background-image: url("../../../app/assets/knight_attack_sheet.png") !important;
        animation: attackAnim 0.3s steps(4) forwards !important;
    }
}

.enemyAttackAnim{
    @extend .enemy;
    &::before{
        background-image: url("../../../app/assets/enemy_attack_sheet.png") !important;
        animation: attackAnim 0.3s steps(4) forwards !important;
    }
}

@keyframes idleAnim {
    0% { background-position: 0 0; }
    100% { background-position: -1152px 0; }
}

@keyframes attackAnim {
    0% { background-position: 0 0; }
    100% { background-position: -768px 0; }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}