@import "@/styles/scss_globals.scss";

.table_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .table{
        width: clamp(250px, 100%, 700px);
        // border: solid 1px $bg-light;

        thead, tbody{
            tr{
                th{
                    padding: $padding-s;
                    border-bottom: 1px solid $yellowwhite;
                }
                td{
                    text-align: center;
                    width: 30%;
                    padding: $padding-s;

                }
            }
        }
    }
}

.scoreboard_main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px auto;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &>h1{
        grid-row: 1;
        grid-column: span 3;
        justify-self: center;
        align-self: flex-end;
        font-size: $h1-xl;
    }

    &>p{
        grid-row: 1;
        grid-column: 1;
        margin: 5px;
    }

    .redirect_wrapper{
        grid-row: 2;
        grid-column: 2;
        height: 100%;
        margin: 25px 0;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: $gap-xxl;
        &>a{
            font-size: $p-l;
            text-align: center;
            max-width: 200px;
            padding: $padding-m $padding-xl;
        }
    }

    &>div{
        grid-column: span 3;
    }
}

@media screen and (max-width: 500px){
    .scoreboard_main{
        h1{
            font-size: $h1-l;
        }
        .redirect_wrapper{
            grid-column: span 3;
            &>a{
                font-size: $p-s;
            }
        }
    }
}