@import "@/styles/scss_globals.scss";
$gap: 10px;
.score_counter{

    grid-area: score;
    
    z-index: 9;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $bg;
    border-radius: $border-s;
    padding: $padding-l $padding-xl;
    margin: 10px;
}

@media screen and (max-width: 500px) {
    .score_counter{
        top: $gap;
        z-index: 15;
    }

}