@import "@/styles/scss_globals.scss";
$gap: 10px;
.score_counter{

    grid-area: score;
    

    display: flex;
    justify-content: center;
    align-items: center;

    justify-self: flex-end;
    align-self: center;
    margin: 10px;

    background-color: $bg;
    border-radius: $border-s;
    padding: $padding-l $padding-xl;

    font-size: $p-m;
}

@media screen and (max-width: 800px) {
    .score_counter{
        top: $gap;
        z-index: 15;
        padding: $padding-m $padding-l;

    }
}

@media screen and (max-width: 500px) {
    .score_counter{
        top: $gap;
        z-index: 15;
    }
}