@import "@/styles/scss_globals.scss";



.dialogue_wrapper{
    width: 100%;
    min-width: 250px;
    max-width: 600px;
    // height: 100px;
    background-color: $bg;
    border-radius: $border-s;

    grid-area: 2 / 2 / 3 / 3;

    justify-self: center;

    margin: 15px 25px;
    // position: absolute;
    // bottom: 25px;

    padding: $padding-l $padding-xxl;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
}
  

@media screen and (max-width: 500px)  {
    .dialogue_wrapper{
        width: 90%;
    }
    .text{
        font-size: $p-s;
    }
}
