@import "@/styles/scss_globals.scss";



.dialogue_wrapper{
    width: 60%;
    height: 100px;
    background-color: $bg;
    border-radius: $border-s;
    position: absolute;
    bottom: 25px;

    padding: $padding-l $padding-xxl;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
}
  

@media screen and (max-width: 500px)  {
    .dialogue_wrapper{
        width: 90%;
    }
    .text{
        font-size: $p-s;
    }
}
