@import "@/styles/scss_globals.scss";

.dialogue_wrapper{
    width: 60%;
    height: 100px;
    background-color: $bg;
    border-radius: $border-s;
    position: absolute;
    bottom: 25px;

    padding: $padding-l $padding-xxl;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
}

.text{
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    font-size: $p-m;
}

.dialogue_anim{
    animation: typewriter 2s steps(32) 1s 1 normal both;
}

@media screen and (max-width: 500px)  {
    .dialogue_wrapper{
        width: 90%;
    }
    .text{
        font-size: $p-s;
    }
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 30ch;}
}