@import "@/styles/scss_globals.scss";

$sprite-y-offset: 22%;
$playerSpriteW: 140px;
$playerDim: calc($playerSpriteW * 2);
$playerSpriteSheetW: calc(1540px * 3);
$playerSpriteH: calc($playerSpriteW * 3);

.player{
    width: $playerSpriteW;
    height: $playerSpriteW;
    display: flex;
    position: absolute;

    transform: translate(-75%, $sprite-y-offset);

    &>p{
        transform: translateY(-50%);
    }

    &::before{
        content: "";
        position: absolute;
        width: calc($playerDim + 100px);
        height: $playerDim;
        top: 0;
        left: 0;

        background-size: $playerSpriteSheetW $playerSpriteH;
        background-image: url("../../../../assets/knight_idle.png");
        image-rendering: pixelated;
        // transform: translate(calc(calc($width / -2) - 10px), calc($width / -2));
        transform: translate(-40%,-50%);
        animation: idleAnim_player 1s steps(11) infinite;
    }
}
.playerAttackAnim{
    @extend .player;
    &::before{
        background-size: calc(840px * 3) $playerSpriteH !important;
        background-image: url("../../../../assets/knight_attack.png") !important;
        animation: attackAnim_player 0.2s steps(5) forwards !important;
    }
}
.playerHitAnim{
    @extend .player;
    &::before{
        background-size: calc(560px * 3) $playerSpriteH !important;
        background-image: url("../../../../assets/knight_hit.png") !important;
        animation: hitAnim_player 0.25s steps(4) forwards !important;
    }
}
.playerDeathAnim {
    @extend .player;
    &::before{
        background-size: calc(1260px * 3) $playerSpriteH !important;
        background-image: url("../../../../assets/knight_death.png") !important;
        animation: deathAnim_player 1s steps(8) forwards !important;
    }
}
@keyframes idleAnim_player {
    0% { background-position: 0 0; }
    100% { background-position: calc(-1540px * 3) 0; }
}
@keyframes attackAnim_player {
    0% { background-position: 0 0; }
    100% { background-position: calc(-840px * 3 + 420px) 0; }
}
@keyframes hitAnim_player {
    0%{ background-position: 0 0; }
    100%{ background-position: calc(-560px * 3) 0; }
}
@keyframes deathAnim_player {
    0%{ background-position: 0 0; }
    100%{ background-position: calc(-1260px * 3 + 420px) 0; }
}



$goblinSpriteW: 150px;
$goblinDim: calc($goblinSpriteW * 2);
$goblinSpriteSheetW: calc(600px * 3);
$goblinSpriteH: calc($goblinSpriteW * 3);

.goblin{
    @extend .player;
    width: $goblinSpriteW;
    height: $goblinSpriteW;

    &::before{
        width: $goblinDim;
        height: $goblinDim;
        background-size: $goblinSpriteSheetW $goblinSpriteH;
        background-image: url("../../../../assets/goblin_idle.png");

        animation: idleAnim_enemy 1s steps(4) infinite;
        image-rendering: pixelated;
        transform: translate(0%,-65%) scaleX(-1);
        
    }

    &:nth-child(2){
        transform: translate(75%, $sprite-y-offset);
    }

    @for $i from 3 through 10 {
        &:nth-child(#{$i}) {
        transform: translate(calc(calc(90% + calc(5% * calc(#{$i} - 3)))*  calc(#{$i} - 1)), $sprite-y-offset);
        }
    }

    &:nth-child(n+10) {
        display: none;
    }
}
.goblinAttackAnim{
    @extend .goblin;
    &::before{
        background-size: calc(1200px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/goblin_attack.png") !important;
        animation: attackAnim_enemy 0.2s steps(8) forwards !important;
    }
}
.goblinHitAnim{
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/goblin_hit.png") !important;
        animation: hitAnim_enemy 0.25s steps(4) forwards !important;
    }
}
.goblinDeathAnim {
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/goblin_death.png") !important;
        animation: deathAnim_enemy 0.4s steps(3) forwards !important;
    }
}
@keyframes idleAnim_enemy {
    0% { background-position: 0 0; }
    100% { background-position: calc(-600px * 3) 0; }
}
@keyframes attackAnim_enemy {
    0% { background-position: 0 0; }
    100% { background-position: calc(-1200px * 3) 0; }
}
@keyframes hitAnim_enemy {
    0%{ background-position: 0 0; }
    100%{ background-position: calc(-600px * 3) 0; }
}
@keyframes deathAnim_enemy {
    0%{ background-position: 0 0; }
    100%{ background-position: calc(-600px * 3 + 450px) 0; }
}

.mushroom {
    @extend .goblin;
    &::before {
        background-image: url("../../../../assets/mushroom_idle.png") !important;
    }
}
.mushroomAttackAnim{
    @extend .goblin;
    &::before{
        background-size: calc(1200px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/mushroom_attack.png") !important;
        animation: attackAnim_enemy 0.2s steps(8) forwards !important;
    }
}
.mushroomHitAnim{
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/mushroom_hit.png") !important;
        animation: hitAnim_enemy 0.25s steps(4) forwards !important;
    }
}
.mushroomDeathAnim {
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/mushroom_death.png") !important;
        animation: deathAnim_enemy 0.4s steps(3) forwards !important;
    }
}

.skeleton {
    @extend .goblin;
    &::before {
        background-image: url("../../../../assets/skeleton_idle.png") !important;
    }
}
.skeletonAttackAnim{
    @extend .goblin;
    &::before{
        background-size: calc(1200px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/skeleton_attack.png") !important;
        animation: attackAnim_enemy 0.2s steps(8) forwards !important;
    }
}
.skeletonHitAnim{
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/skeleton_hit.png") !important;
        animation: hitAnim_enemy 0.25s steps(4) forwards !important;
    }
}
.skeletonDeathAnim {
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/skeleton_death.png") !important;
        animation: deathAnim_enemy 0.4s steps(3) forwards !important;
    }
}

.eye {
    @extend .goblin;
    &::before {
        background-size: calc(1200px * 3) $goblinSpriteH;
        background-image: url("../../../../assets/eye_idle.png") !important;
    }
}
.eyeAttackAnim{
    @extend .goblin;
    &::before{
        background-size: calc(1200px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/eye_attack.png") !important;
        animation: attackAnim_enemy 0.2s steps(8) forwards !important;
    }
}
.eyeHitAnim{
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/eye_hit.png") !important;
        animation: hitAnim_enemy 0.25s steps(4) forwards !important;
    }
}
.eyeDeathAnim {
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/eye_death.png") !important;
        animation: deathAnim_enemy 0.4s steps(3) forwards !important;
    }
}