@import "@/styles/scss_globals.scss";

$sprite-y-offset: -5%;
$playerSpriteW: 140px;
$playerDim: calc($playerSpriteW * 2);
$playerSpriteSheetW: calc(1540px * 3);
$playerSpriteH: calc($playerSpriteW * 3);

#shield{
    $dim: calc(48px * 1.5) ;
    background-image: url("../../../../../app/assets/shield.png");
    background-size: cover;
    width: $dim;
    height: $dim;
    image-rendering: pixelated;
    z-index: 10;

    position: absolute;
    right: 25px;
    top: 10px;

    opacity: 0.8;

    transform: rotateY(30deg);

    animation: shield_hit 0.15s steps(3) alternate infinite;
}

@keyframes shield_hit {
    from{
        transform: rotateY(-10deg)  rotateZ(5deg);
    }
    to{
        transform: rotateY(30deg)  rotateZ(-5deg);

    }
}

@keyframes bobble {
    from{transform: translateY(0px);}
    to{transform: translateY(6px);}
}

.player{
    width: $playerSpriteW;
    height: $playerSpriteW;
    display: flex;
    grid-column: 2;

    position: relative;

    &>p{
        transform: translateY(-50%);
    }

    &::after{
        content: "";
        width: 70%;
        height: 10px;
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.1) 70%);
        border-radius: 50%;
        position: absolute;
        bottom: -2px; 
        left: 20%;
        animation: shadow_bobble 0.5s steps(3) alternate infinite;
    }

    &::before{
        content: "";
        filter: contrast(1.1) brightness(0.9);

        position: absolute;
        width: calc($playerDim + 100px);
        height: $playerDim;
        bottom: 0;
        left: 0;

        background-size: $playerSpriteSheetW $playerSpriteH;
        background-image: url("../../../../assets/knight_idle.png");
        image-rendering: pixelated;
        transform: translate(-35%, 10%);
        animation: idleAnim_player 1s steps(11) infinite;
    }
}
.playerAttackAnim{
    @extend .player;
    &::before{
        background-size: calc(840px * 3) $playerSpriteH !important;
        background-image: url("../../../../assets/knight_attack.png") !important;
        animation: attackAnim_player 0.2s steps(5) forwards !important;
    }
}
.playerHitAnim{
    @extend .player;
    &::before{
        background-size: calc(560px * 3) $playerSpriteH !important;
        background-image: url("../../../../assets/knight_hit.png") !important;
        animation: hitAnim_player 0.25s steps(4) forwards !important;
    }
}
.playerDeathAnim {
    @extend .player;
    &::before{
        background-size: calc(1260px * 3) $playerSpriteH !important;
        background-image: url("../../../../assets/knight_death.png") !important;
        animation: deathAnim_player 1s steps(8) forwards !important;
    }
}

.playerEvadeAnim {
    @extend .player;
    &::before{
        background-size: calc(560px * 3) $playerSpriteH !important;
        background-image: url("../../../../assets/knight_evade.png") !important;
        animation: evadeAnim_player 0.5s steps(4) forwards !important;
    }
}

@keyframes shadow_bobble {
    from{transform: translateY(0px);}
    to{transform: translateY(2px);}
}

@keyframes idleAnim_player {
    0% { background-position: 0 0; }
    100% { background-position: calc(-1540px * 3) 0; }
}
@keyframes attackAnim_player {
    0% { background-position: 0 0; }
    100% { background-position: calc(-840px * 3 + 420px) 0; }
}
@keyframes hitAnim_player {
    0%{ background-position: 0 0; }
    100%{ background-position: calc(-560px * 3) 0; }
}
@keyframes deathAnim_player {
    0%{ background-position: 0 0; }
    100%{ background-position: calc(-1260px * 3 + 420px) 0; }
}
@keyframes evadeAnim_player {
    0%{ background-position: 0 0; }
    100%{ background-position: calc(-560px * 3) 0; }
}



$goblinSpriteW: 150px;
$goblinDim: calc($goblinSpriteW * 2);
$goblinSpriteSheetW: calc(600px * 3);
$goblinSpriteH: calc($goblinSpriteW * 3);

.goblin{
    @extend .player;
    width: $goblinSpriteW;
    height: $goblinSpriteW;

    &::after {
        // left: -10px;
        width: 65%;
        animation: shadow_bobble 0.5s steps(4) alternate infinite;
    }

    &::before{
        width: $goblinDim;
        height: $goblinDim;
        background-size: $goblinSpriteSheetW $goblinSpriteH;
        background-image: url("../../../../assets/goblin_idle.png");

        animation: idleAnim_enemy 1s steps(4) infinite;
        image-rendering: pixelated;
        transform: translate(-0%,-1%) scaleX(-1);
        
    }


    @for $i from 2 through 5 {
        &:nth-child(#{$i}) {
            grid-column: calc($i + 2);
        }
    }

    &:nth-child(n+10) {
        display: none;
    }
}
.goblinAttackAnim{
    @extend .goblin;
    &::before{
        background-size: calc(1200px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/goblin_attack.png") !important;
        animation: attackAnim_enemy 0.2s steps(8) forwards !important;
    }
}
.goblinHitAnim{
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/goblin_hit.png") !important;
        animation: hitAnim_enemy 0.25s steps(4) forwards !important;
    }
}
.goblinDeathAnim {
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/goblin_death.png") !important;
        animation: deathAnim_enemy 0.4s steps(3) forwards !important;
        filter: saturate(0.5) brightness(0.6)  !important;
    }
}
@keyframes idleAnim_enemy {
    0% { background-position: 0 0; }
    100% { background-position: calc(-600px * 3) 0; }
}
@keyframes attackAnim_enemy {
    0% { background-position: 0 0; }
    100% { background-position: calc(-1200px * 3) 0; }
}
@keyframes hitAnim_enemy {
    0%{ background-position: 0 0; }
    100%{ background-position: calc(-600px * 3) 0; }
}
@keyframes deathAnim_enemy {
    0%{ background-position: 0 0; }
    100%{ background-position: calc(-600px * 3 + 450px) 0; }
}

.mushroom {
    @extend .goblin;
    // &::after{
    //     width: 50%;
    //     left: 10px;
    // }
    &::before {
        background-image: url("../../../../assets/mushroom_idle.png") !important;
    }
}
.mushroomAttackAnim{
    @extend .goblin;
    &::before{
        background-size: calc(1200px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/mushroom_attack.png") !important;
        animation: attackAnim_enemy 0.2s steps(8) forwards !important;
    }
}
.mushroomHitAnim{
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/mushroom_hit.png") !important;
        animation: hitAnim_enemy 0.25s steps(4) forwards !important;
    }
}
.mushroomDeathAnim {
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/mushroom_death.png") !important;
        animation: deathAnim_enemy 0.4s steps(3) forwards !important;
        filter: saturate(0.5) brightness(0.6)  !important;
    }
}

.skeleton {
    @extend .goblin;
    &::before {
        background-image: url("../../../../assets/skeleton_idle.png") !important;
    }
}
.skeletonAttackAnim{
    @extend .goblin;
    &::before{
        background-size: calc(1200px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/skeleton_attack.png") !important;
        animation: attackAnim_enemy 0.2s steps(8) forwards !important;
    }
}
.skeletonHitAnim{
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/skeleton_hit.png") !important;
        animation: hitAnim_enemy 0.25s steps(4) forwards !important;
    }
}
.skeletonDeathAnim {
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/skeleton_death.png") !important;
        animation: deathAnim_enemy 0.4s steps(3) forwards !important;
        filter: saturate(0.5) brightness(0.6)  !important;
    }
}

.eye {
    @extend .goblin;
    &::before {
        background-size: calc(1200px * 3) $goblinSpriteH;
        background-image: url("../../../../assets/eye_idle.png") !important;
    }
}
.eyeAttackAnim{
    @extend .goblin;
    &::before{
        background-size: calc(1200px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/eye_attack.png") !important;
        animation: attackAnim_enemy 0.2s steps(8) forwards !important;
    }
}
.eyeHitAnim{
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/eye_hit.png") !important;
        animation: hitAnim_enemy 0.25s steps(4) forwards !important;
    }
}
.eyeDeathAnim {
    @extend .goblin;
    &::before{
        background-size: calc(600px * 3) $goblinSpriteH !important;
        background-image: url("../../../../assets/eye_death.png") !important;
        animation: deathAnim_enemy 0.4s steps(3) forwards !important;
        filter: saturate(0.5) brightness(0.6)  !important;
    }
}

.toad {
    @extend .goblin;
    &::before{
        overflow: auto;
        width: 150px;
        height: 150px;
        background-size: calc(320px * 3) calc(64px * 3) !important;
        background-image: url("../../../../assets/toad_idle.png") !important;
        transform: translate(-15px, -25%) scaleX(-1) !important;
        animation: toad_idle 1s steps(4) infinite  !important;
        transition: filter 0.5s ease;
    }
}

.toadAttackAnim {
    @extend .toad;
    &::before{
        background-size: calc(240px * 3) calc(64px * 3) !important;
        background-image: url("../../../../assets/toad_attack.png") !important;
        transform: translate(-15px, -25%) scaleX(-1) !important;

        animation: toad_attackAnim 0.3s steps(3) infinite alternate !important;
    }
}

.toadHitAnim {
    @extend .toad;
    &::before{
        background-image: url("../../../../assets/toad_hit.png") !important;
    }
}

.toadDeathAnim {
    @extend .toad;
    &::before{
        background-image: url("../../../../assets/toad_hit.png") !important;
        animation: toad_idle 1s steps(4) forwards !important;
        filter: saturate(0.5) brightness(0.6)  !important;
    }
}

@keyframes toad_idle {
    0% { background-position: -30px -50px; }
    100% { background-position: calc(-320px  * 3 - 30px) -50px; }
}

@keyframes toad_attackAnim {
    0% { background-position: -30px -50px; }
    100% { background-position: calc(-240px  * 3 - 30px) -50px; }
}

.consumable {
    width: 50px;
    height: 50px;
    background-color: $green;
}