@import "@/styles/scss_globals.scss";

.game_window{
    width: 1066px;
    height: 600px;
    background-image: url("../../../../public/bg_forest.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &>button{
        font-family: auto;
        position: absolute;
        bottom: 30px;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}