@import "@/styles/scss_globals.scss";

#logo{
    font-size: 7rem;
    margin-bottom: $gap-s;

    justify-self: center;
    max-width: 300px;
    width: 90%;
    height: auto;
    image-rendering: pixelated;

    grid-column: span 2;
    animation-duration: 1.5s;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    line-height: 100px;
    letter-spacing: -2px;

    #quiz {
        @include floatInAnim;
        display: flex;
        align-items: flex-end;
        align-self: flex-start;
        #logo_img{

            width: 150px;
            height: 150px;
            background-image: url("../../assets/logoimg.png");
            background-size: cover;
            image-rendering: pixelated;

        }
    }

    #knight{
        @include floatInAnim;
        align-self: flex-end;
        animation-delay: 0.2s;
    }
}
    
@media screen and (max-width: 500px) {
    #logo {
        transform: translateX(-10px);
        font-size: 5rem;
        line-height: 65px;
        #quiz {
            
            #logo_img {
                width: 100px;
                height: 100px;
            }
        }
    }
}