.quiz_window{
    width: 1066px;
    height: 600px;

    display: grid;
    grid-template-columns: 75px 1fr 75px;
    grid-template-rows: 75px 1fr;

    grid-template-areas: 
    " settings  .   score "
    " .  cards   . ";

    position: relative;
    overflow: hidden;
    animation: 1.5s ease fadeIn forwards;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}