@import "@/styles/scss_globals.scss";

.main{
    width: 100%;
    height: $window;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    

    #not_found_wrapper{
        width: 50%;

        h1{
            margin-bottom: $gap-m;
        }

        p{
            margin-bottom: $gap-s;
        }

        a{
            @include button_m;
        }
    }

    #home_wrapper{
        padding: $gap-xl;
        position: relative;

        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
        box-sizing: border-box;
        gap: $gap-l;

        &>a:nth-child(2), &>a:nth-child(3), &>a:nth-child(4) {
            @include floatInAnim;
        }


        // play button
        &>a:nth-child(2), &>a:nth-child(4){
            opacity: 0;
            grid-column: span 2;
            font-size: $h1-l;

            animation-delay: 0.5s;

        }

        &>a:nth-child(3) {
            animation-delay: 0.75s;
        }

        &>a:nth-child(4) {
            animation-delay: 0.9s;
            grid-column: 2;
        }

        &>*{
            text-align: center;
        }
    }
}

@keyframes floatIn {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

@media screen and (max-width: 400px){
    .main{
        #home_wrapper{
            a:nth-child(2){
                font-size: $h1-m;
                padding: $padding-xl $padding-m;
            }

            a{
                padding: $padding-l;
                font-size: $h2-s;
            }
        }
    }
}