.combat_window{
    width: 1066px;
    height: 600px;
    background-image: url("../../../../../public/bg_forest.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
    position: relative;

    display: grid;
    grid-template-rows: 75px repeat(5,1fr) 75px;
    grid-template-columns: 75px 1fr 75px;
    grid-template-areas: 
        " settings  .    score "
        " consumable    power    . "
        " consumable  .   . "
        " consumable  .   .  "
        " .    sprites    . "
        " .    attack   . "
        " .  .    . ";

}

.screen_shake {
    animation: shake 0.2s forwards;
}

@keyframes shake {
    0%{background-position: 50% 50%;}
    25%{background-position: calc(50% + 10px) 50%;}
    50%{background-position: calc(50% - 10px) 50%;}
    100%{background-position: 50% 50%;}
}

.power_shake {
    animation: power_shake 0.2s;
    animation-iteration-count: 4;
    transition: filter 0.3s ease-in-out;
}

@keyframes power_shake {
    0%{background-position: 50% 50%;filter: brightness(1.2);}
    25%{background-position: calc(50% + 20px) 50%;}
    50%{background-position: calc(50% - 20px) 50%;}
    100%{background-position: 50% 50%;}
}