.combat_window{
    width: 1066px;
    height: 600px;
    background-image: url("../../../../../public/bg_forest.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    image-rendering: pixelated;
    
    position: relative;

    display: grid;
    grid-template-rows: 75px repeat(5,1fr) 75px;
    grid-template-columns: 75px 1fr 75px;
    grid-template-areas: 
        " settings  .    score "
        " consumable    power    . "
        " consumable  .   . "
        " consumable  .   .  "
        " sprites    sprites    sprites "
        " .    attack   . "
        " .  attack    . ";

    justify-content: center;

}

.screen_shake {
    animation: shake 0.2s forwards;
}

.dark_forest{
    @extend .combat_window;
    background-image: url("../../../../../public/bg_forest.png");
}

.morning_forest{
    @extend .combat_window;
    background-image: url("../../../assets/morning_forest.png");
    background-repeat: repeat;
    background-size: contain;
    filter: brightness(1.05);
}

@media screen and (max-width: 600px){
    .morning_forest{
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@keyframes shake {
    0%{background-position: 50% 50%;}
    25%{background-position: calc(50% + 10px) 50%;}
    50%{background-position: calc(50% - 10px) 50%;}
    100%{background-position: 50% 50%;}
}

.power_shake {
    animation: power_shake 0.2s;
    animation-iteration-count: 4;
    transition: filter 0.3s ease-in-out;
}

@keyframes power_shake {
    0%{background-position: 50% 50%;filter: brightness(1.2);}
    25%{background-position: calc(50% + 20px) 50%;}
    50%{background-position: calc(50% - 20px) 50%;}
    100%{background-position: 50% 50%;}
}